.style_navbar{
    background-color: #1741551b;
}
.navbar_row{
    border-bottom: 1px solid white;
}
.modal_style{
    background-color: #2CBC63;
    border: none;
}
.button_header{
    background-color: white;
    border: none;
}
.button_offcanvas{
    height: 50%;
    width: 5%;
    background-color: white;
    border: none;
}

.borderless{
    border: none;
}

.formButton{
    background-color: #2CBC63;
}

.greenLink{
    color: #2CBC63;
    font-weight: bold;
    text-decoration: none;
}

.textGray{
    color: gray;
}

.canvasClose{
    background-color: #2CBC63;
    
}

/* PORTRAIT */

.rounded-pill{
    background-color: #e0ecf0;
    color: black;
    border: none;
}

/* FINE PORTRAIT */

/* FORM */
.formCardStyle{
    border: none;
}
.formCardStyle select{
    /* background: rgb(235,242,245); */
    border: none;

}
.formSide{
    background-color: rgb(235,242,245);
}
/* END FORM */

.textGreen{
    color: #2CBC63;
}
.card-body h1{
    font-weight: lighter;
    color: #A69CAA;
}
.card{
    border-top: none;
    border-bottom: none;
}

.left{
    border-left: none;
}

.right{
    border-right: none;
}

/* footer + aside */


footer{
    background-color: #033b51;
}


.col-lg-2 a{
    color: #A6BAC2;
}

.col-lg-2 h5{
    color: white;
}

.Graytext, .col-lg-4 p{
    color: #A69CAA;
}
.greyLink {
    color: #A6BAC2;
    text-decoration: none;
}

.btn-primary{
    border: none;
    background-color: #2CBC63;
}

aside h1{
    color: white;
}

aside{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(https://t3.ftcdn.net/jpg/03/80/03/34/360_F_380033452_KYmG8lNrLuoe9mda5HMJ7EOYralP0WcA.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* end footer */